h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}



.input-number {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E5E8EE;
    box-sizing: border-box;
    border-radius: 6px;
    color: #424348;
    font-size: 14px;
    text-align: center;
    width: calc(33px * 3);
}

.input-number__input {
    background: #E5E8EE;
    width: 32px;
    height: 32px;
    border: none;
    padding: 8px;
    text-align: center;
}

.input-number__minus,
.input-number__plus {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

/* .nav-item {
    display: flex;
    justify-content: flex-start;
} */

/* .form-request {
    display:flex;
    justify-content: center;
} */

#navbarNav {
    justify-content: space-between;
}

.navbar {
    background-color:antiquewhite;
}

#buttons-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button-container {
    margin-top: 10px;
}

.buttons {
    display: flex;
    margin-bottom: 0;
}

.form-button {
    margin-right: 1rem;
    margin-bottom: 0;
}

/* .login {
    display: flex;
    justify-content: flex-end;
} */
